@import "./libs/variables.scss";
@import "./mobile.scss";
@import "./desktop.scss";

//colors
.red {
  background-color: red;
}
.bg-leg {
  background-color: $leg;
}
.bg-leg--darken {
  background-color: darken($leg, 15%);
}
.bg-leg--opacity {
  background-color: $leg-opacity;
}
.bg-fruit {
  background-color: $fruit;
}
.bg-fruit--darken {
  background-color: $fruit3;
}
.bg-fruit--opacity {
  background-color: $fruit-opacity;
}
.bg-prod {
  background-color: $prod;
}
.bg-prod--slowdarken {
  background-color: darken($prod, 15%);
}
.bg-prod--darken {
  background-color: darken($prod, 25%);
}
.bg-prod--opacity {
  background-color: $prod-opacity;
}
.bg-tools {
  background-color: $tools;
}
.bg-tools--darken {
  background-color: darken($tools, 15%);
}
.bg-tools--verydarken {
  background-color: darken($tools, 55%);
}
.bg-tools--ultradarken {
  background-color: darken($tools, 70%);
}
.bg-white {
  background-color: white;
}
.nav_bg {
  background-color: $theme !important;
}
.bg-transparent {
  background-color: transparent;
}
.text-red {
  color: red;
}
.text-white {
  color: white;
}
.text-danger {
  color: $danger;
}
.text-leg {
  color: $leg;
}
.text-leg--lighten {
  color: lighten($leg, 15%);
}
.text-leg--darken {
  color: darken($leg, 15%);
}
.text-fruit {
  color: $fruit;
}
.text-fruit--lighten {
  color: #ffec27;
}
.text-fruit--darken {
  color: $fruit3;
}
.text-prod {
  color: $prod;
}
.text-prod--lighten {
  color: #b732e6;
}
.text-prod--darken {
  color: darken($prod, 25%);
}
.text-tools {
  color:$tools;
}
.text-tools--darken {
  color: darken($tools, 35%);
}
.text-tools--verydarken {
  color: darken($tools, 50%);
}
.text-tools--ultradarken {
  color: darken($tools, 65%);
}
.text-fonce {
  color: darken($tools, 70%) !important;
}
.border-leg--darken {
  border: 2px solid darken($leg, 15%);
}

//Inputs et dropdown
.form-control {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: darken($tools, 70%) solid 2px;
  color: darken($tools, 70%);
  &:focus {
    outline: none;
    box-shadow: none;
    border-bottom: darken($tools, 70%) solid 2px;
  }
  &:disabled {
    background-color: white;
    color: darken($tools, 70%);
  }
}
.form-label {
  color: darken($tools, 70%) !important;
}
.input-group-text {
  border: 0;
  border-bottom: solid 2px darken($tools, 70%);
  background-color: $tools;
  color: darken($tools, 70%);
}
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border: solid 2px darken($tools, 70%);
  &:focus {
    outline: none;
    box-shadow: none;
    border-bottom: darken($tools, 70%) solid 2px;
  }
}
input[type="checkbox"] {
  border-radius: 4px;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 2px solid darken($tools, 50%);
}
input[type="checkbox"]:checked {
  background: darken($tools, 50%);
  margin: 0px;
  position: relative;

  &:before {
    // font-family: FontAwesome;
    content: "✓";
    display: block;
    color: white;
    font-size: 13px;
    position: absolute;
    left: 4px;
  }
}
button {
  border: none;
}
.dropdown-menu {
border-radius: 0;
}

//Positionnements blocs
body, main {
  overflow: hidden;
}
section {
  & .vertical-center {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.flexhcenter {
  display: flex !important;
  justify-content: center !important;
}

// Autres
.cursor {
  cursor: pointer;
}
.hidden {
  display: none;
}
.novisible {
  visibility: hidden;
}
a {
  text-decoration: none;
}
.btn:focus {
  outline: 0;
  box-shadow: none!important;
}
.notselectable
{
  user-select: none;
}
.noclick {
  pointer-events: none;
}
.z100 {
  z-index: 100;
}
.z50 {
  z-index: 50 !important;
}
.z10 {
  z-index: 10 !important;
}
.uppercase::first-letter {
  text-transform:capitalize;
}